/* GRID */
.full-width{
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.third-width{
    width: 400px;
    float: left;
}

/* HEADER + NAV BAR */
header{
    margin: 0 auto;
    height: 800px;
    width: 1400px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

header nav{
    float: right;
    padding-top: 80px;
    padding-right: 83px;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #313131;
    padding-right: 25px;
}

header .full-width img{
    padding-top: 180px;
}

header .full-width h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 64px;
    font-weight: 700;
    color: #313131;
    width: 900px;
}

header .full-width h1 span{
    color: #ff654a;
}

header .full-width h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #313131;
}

/* ABOUT */
#about-me{
    background-color: #ff654a;
    margin: 0 auto;
    height: 1050px;
    width: 1400px;
}
#about-me .full-width h2{
    margin-top: 160px;
    margin-bottom: 36px;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

#about-me .full-width img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border: 5px solid #ffffff;
}

#about-me .full-width h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

#about-me .full-width p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* WORK */
#portfolio{
    background-color: #ffffff;
    margin: 0 auto;
    height: 850px;
    width: 1400px;
}

#portfolio .full-width h2{
    margin-top: 160px;
    margin-bottom: 90px;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    font-weight: 700;
    color: #313131;
    text-align: center;
}

#portfolio .third-width img{
    margin-left: 25px;
    width: 350px;
    height: 188px;
    border: 1px solid #b7b7b7;
}

#portfolio .third-width h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

#portfolio .third-width p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#portfolio .third-width .project-1, .project-2, .project-3{
    float: left;
}

/* CONTACT */
#connect{
    background-color: #ff654a;
    margin: 0 auto;
    height: 650px;
    width: 1400px;
}

#connect .full-width h2{
    margin-top: 160px;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

#connect .third-width h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

#connect .third-width p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    width: 400px;
}

#connect .third-width a{
    font-family: 'Open Sans', sans-serif;
    color: #313131;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
#connect .third-width ul{
    list-style: none;
    width: 400px;
    padding-left: 72px;
}
#connect .third-width ul li{
     display: inline-block;
     padding-right: 50px;
}

#connect .third-width .copyright p{
    width: 400px;
    margin-top: 216px;
    text-align: center;
    padding-left: 390px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    
}